{%load static%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Aparna Gopal</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
        <meta name="author" content="templatemo">
        <!-- 
        Lavish HTML CSS Template
        https://templatemo.com/tm-458-lavish
        -->
        
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- animate -->
		<link rel="stylesheet" href="{%static 'css/animate.min.css' %}">
		<!-- bootstrap -->
		<link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
		<!-- font-awesome -->
		<link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}">
		<!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
		<!-- fullpage -->
		<link rel="stylesheet" href="{%static 'css/jquery.fullPage.css' %}">
		<!-- custom -->
		<link rel="stylesheet" href="{%static 'css/templatemo-style.css' %}">

	</head>
	<body>
		
	<div id="fullpage">

		<!-- start home -->
		<div id="home" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8 wow fadeIn" data-wow-delay="0.9s" >
						<h2>Aparna G</h2>
						<h1>CEG,Anna University</h1>
						<h2 class="rotate">DEVELOPER,DESIGNER,ENTHUSIASTIC LEARNER</h2>
						<p>3rd year Computer Science student</p>
						<a href="#work" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="1s">Know more about me</a>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
		<!-- end home -->

		<!-- start work -->
		<div id="work" class="section">
			<div class="container">
				<div class="row">

					<div class="col-md-12 wow bounce" data-wow-delay="0.9s">
						<h2>My Profiles</h2>
					</div>
                </div>  
                <div class="row">
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<a href="https://www.linkedin.com/in/aparna-gopal-891a5b175/"><i class="fa fa-linkedin" ></i> </a>
							</div>
							<div class="media-body">
								<h3 class="media-heading">LinkedIn</h3>
								<p>Connect with me on LinkedIn</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-code"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Leetcode</h3>
								<p>Actively posts solutions in discuss forum</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
							<a href="https://github.com/aparnag7"><i class="fa fa-github"></i></a>
							</div>
							<div class="media-body">
								<h3 class="media-heading">GitHub</h3>
								<p>View my projects here</p>
							</div>
						</div>
					</div>
                    
				</div>
			</div>
		</div>
		<!-- end work -->

		<!-- start about -->
		<div id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-11 wow fadeInLeft" data-wow-delay="0.9s">
						<div data-wow-delay="0.9s">
							<h2 data-wow-delay="0.9s">ABOUT ME</h2>
						 </div>
						<h4>FULL STACK DEVELOPER</h4>
						<p>I am a 3rd year CSE Student at College of Engineering Guindy</p>
						<p>I have excellent problem solving skills and good logical thinking ability. I can code in C,C++,Python. I can work effeciently in Linux platform.</p>
						<p>I can speak Tamil, English, Hindi and German</p>
						<a href="{%static './images/resume.pdf '%}" download="newfilename"><h4>Download my Resume</h4></a>
					</div>
					<div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
						<span class="text-top">Object Oriented Programming<small>90%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
							</div>
						<span>Operating Systems<small>80%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
							</div>
						<span>Web development<small>90%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
							</div>
						<span>Relational Databases<small>85%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end about -->
		<!-- start projects -->
		<div id="portfolio" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="wow bounce">Recent Projects</h2>
					</div>
			
					<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
						<div class="portfolio-thumb">
							<img src="{%static 'images/wine.png'%}" class="img-responsive" alt="portfolio img">
								<div class="portfolio-overlay">
									<h4>Wine Quality Prediction</h4>
									<h5>I used Kaggle’s Red Wine Quality dataset to build various classification models to predict whether a particular red wine is “good quality” or not. Each wine in this dataset is given a “quality” score between 0 and 10.</h5>
									<h5>Best Model Accuracy: 89.00</h5>
								</div>
						</div>
					</div>
	
					<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
						<div class="portfolio-thumb">
							<img src="{%static 'images/weather.png'%}" class="img-responsive" alt="portfolio img" >
								<div class="portfolio-overlay">
									<h4>Weather web application</h4>
									<h5>Developed using Django framework to display weather conditions in any location globally from a weather API
										live from a weather satellite.</h5>
									<h5><a href="http://aparnag.pythonanywhere.com/">Hosted on pythonanywhere</a></h5>
								</div>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
						<div class="portfolio-thumb">
							<img src="{%static 'images/hotelimg.jpg'%}" class="img-responsive" alt="portfolio img">
								<div class="portfolio-overlay">
									<h4>Hotel Management Website</h4>
									<h5>Web Application for Hotel Booking
										Developed a website - front end using HTML, CSS, JavaScript and backend using MySQL DB to view and book
										facilities in a hotel</h5>
								</div>
						</div>
					</div>	
					<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
						<div class="portfolio-thumb">
							<img src="{%static 'images/health.jpg'%}" class="img-responsive" alt="portfolio img">
								<div class="portfolio-overlay">
									<h4>Digital Health Management System of a country</h4>
									<h5>Designed a system that manages the personal,medical and emergency records of all the citizens of a country</h5>
								</div>
						</div>
					</div>
	
					<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
						<div class="portfolio-thumb">
							<img src="{%static 'images/blood.jpg'%}" class="img-responsive" alt="portfolio img" >
								<div class="portfolio-overlay">
									<h4>Blood Bank Management System</h4>
									<h5>Built a database management system in PostgreSQL that distributes blood to mutiple hospitals, conducts blood camps, sends messages about upcoming events </h5>

								</div>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
						<div class="portfolio-thumb">
							<img src="{%static 'images/linetracer.jpg'%}" class="img-responsive" alt="portfolio img">
								<div class="portfolio-overlay">
									<h4>Line Tracing Robot</h4>
									<h5>Built a robot that follows a black line by using sensors and sends signal to arduino</h5>
								</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
		<!-- end projects -->
		<!-- start portfolio -->
		<div id="portfolio" class="section" data-wow-delay="0.9s">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="wow bounce">PORTFOLIO</h2>
				</div>
		
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="{%static 'images/nsslogo.png'%}" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h4>Student Volunteer</h4>
								<h5>UNIT -12</h5>
								<h5>College of Engineering Guindy, Anna University</h5>
							</div>
					</div>
				</div>

				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="{%static 'images/ctflogo.jpeg'%}" class="img-responsive" alt="portfolio img" >
							<div class="portfolio-overlay">
								<h4>Event Coordinator</h4>
								<h5>CEG Tech Forum</h5>
								<h5>College of Engineering Guindy, Anna University</h5>
							</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="{%static 'images/cluny.jpeg'%}" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h4>School Topper</h4>
								<h5>Scored 1180/1200 in 12th std board exams</h5>
								<h5>St.Joseph of Cluny, Neyveli</h5>
							</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<!-- end portfolio -->

		<!-- start contact -->
		<div id="contact" class="section >
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-lg-offset-1 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<address>
							<div class="col-md-12 wow bounce" data-wow-delay="0.9s">
								<h2><p class="contact-title" >CONTACT ME</p></h2>
							</div>
							
							<p><i class="fa fa-phone"></i> +91 8903570838</p>
							<p> <a href="mailto: aparnagopalmr@gmail.com"><i class="fa fa-envelope-o"></i> aparnagopalmr@gmail.com</p> </a> 
							<p><a href="https://www.google.com/maps/place/Samrat+Asokar+Salai,+Neyveli+Twp+Block-3,+Neyveli+T.S,+Tamil+Nadu+607801/@11.6249803,79.5105452,799m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3a54b1213a13afeb:0xf9e92b7d1da3d5d7!8m2!3d11.6249803!4d79.5127339"><i class="fa fa-map-marker"></i> C-67, Sathiya Moorthy Salai,Neyveli-607801</p> </a>
						</address>
					</div>
				</div>
			</div>
		</div>
		<!-- end contact -->
		<!-- start footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow fadeIn" data-wow-delay="0.9s">
						
						<hr>
						<ul class="social-icon">
							<li><a href="https://www.facebook.com/aparna.gopal.372" class="fa fa-facebook"></a></li>
							<li><a href="https://twitter.com/AparnaGopal1" class="fa fa-twitter"></a></li>
							<li><a href="https://www.instagram.com/aparna_gopal_/" class="fa fa-instagram"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->

	</div>

		<!-- jQuery -->
		<script src="{%static 'js/jquery.js'%}"></script>
		<!-- bootstrap -->
		<script src="{%static '
		js/bootstrap.min.js'%}"></script>
		<!-- fullpage -->
		<script src="{%static 'js/jquery.fullPage.js'%}"></script>
		<!-- smoothScroll -->
		<script src="{%static 'js/smoothscroll.js'%}"></script>
		<!-- wow -->
		<script src="{%static 'js/wow.min.js'%}"></script>
		<!-- text rotater -->
		<script src="{%static 'js/jquery.simple-text-rotator.js'%}"></script>
		<!-- custom -->
		<script src="{%static 'js/custom.js'%}"></script>

	</body>
</html>